{% extends "lab_10/layout/base.html" %}

{% block content %}
<section id="data-dashboard">
    <div class="card mt-4 d-none d-md-block d-lg-block">
        <div class="card-header">
            <div class="row">
                <div class="col-md-9 col-lg-10">
                    <h4 class="card-title">{{ movie.title }} {% if movie.year %} ({{ movie.year }}){% endif %}</h4> 
                </div>
                <div class="col-md-3 col-lg-2 ml-auto">
                    <div class="card-buttons">
                        {% if added %}
                        <button class="btn btn-success btn-block"> Added to Watch Later </button>
                        {% else %}
                        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-primary btn-block"> Add to Watch Later </a>
                        {% endif%}
                    </div>
                </div>
            </div>
            <div class="row">
                {% for rating in movie.ratings|slice:":3"  %} <div class="col-3"> <small>{{ rating.Value }} ({{ rating.Source }})</small> </div> {% endfor %}
            </div>
        </div>
        <div class="card-body">
            {% if movie.poster %}
            <div class="row">
                <div class="col-md-3 col-lg-2"> <img src="{{ movie.poster }}" class="rounded img-fluid" > </div>
                <div class="col-md-9 col-lg-10">
                    {% include 'lab_10/movie/detail_no_poster.html' %}
                </div>
            </div>
            {% else %}
            {% include 'lab_10/movie/detail_no_poster.html' %}
            {% endif %}            
        </div>
        <div class="card-footer text-muted">
            <i>Data taken from The Open Movie Database</i>
        </div>
    </div>
    <div class="card mt-2 mb-2 d-md-none d-lg-none">
        <div class="card-header">
            <h5 class="card-title">{{ movie.title }}</h5>
        </div>
        {% if movie.poster and movie.poster != "N/A" %}
        <img class="card-img" src="{{ movie.poster }}">
        {% endif %}
        <div class="card-body">
            {% include 'lab_10/movie/detail_no_poster.html' %}
            <h5 class="mt-2">Rating</h5>
            {% for rating in movie.ratings|slice:":3"  %} 
            <div class="container row mb-2"> <b>{{ rating.Source }}:</b> {{ rating.Value }} </div> 
            {% empty %}
            <p>Not available yet</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

{% block login_post_url %} {% url 'lab-10:auth_login' 'lab-10:movie_list' %} {% endblock %}

{% block judul_login %}
<h1> Login </h1>
<p class="text-info"> Anda harus login sebelum mengakses halaman detail. Gunakan akun SSO. </p>
{% endblock %}