<div class="row"><p>{{ movie.plot }}</p></div>
<div class="row">
    <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12"><b>Release date</b></div>
    <div class="mb-2 col-md-10 col-lg-10 col-xs-12 col-sm-12">{{ movie.released }}</div>
</div>
{% if movie.director %}
<div class="row">
    <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12"><b>Director</b></div>
    <div class="mb-2 col-md-10 col-lg-10 col-xs-12 col-sm-12">{{ movie.director }}</div>
</div>
{% endif %}
{% if movie.actors %}
<div class="row">
    <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12"><b>Actors</b></div>
    <div class="mb-2 col-md-10 col-lg-10 col-xs-12 col-sm-12">{{ movie.actors }}</div>
</div>
{% endif %}
{% if movie.genre %}
<div class="row">
    <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12"><b>Genre</b></div>
    <div class="mb-2 col-md-10 col-lg-10 col-xs-12 col-sm-12">{{ movie.genre }}</div>
</div>
{% endif %}
{% if movie.rated %}
<div class="row">
    <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12"><b>Parental Rating</b></div>
    <div class="mb-2 col-md-10 col-lg-10 col-xs-12 col-sm-12">{{ movie.rated }}</div>
</div>
{% endif %}
{% if movie.runtime %}
<div class="row">
    <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12"><b>Duration</b></div>
    <div class="mb-2 col-md-10 col-lg-10 col-xs-12 col-sm-12">{{ movie.runtime }}</div>
</div>
{% endif %}