{% extends "lab_10/layout/base.html" %}

{% block content %}
<script>
    const watch = function(button, id){
        button.html('Watching..')
        $.ajax({
            url: 'watch/', method: 'POST',
            data: {
                id: id, 
                csrfmiddlewaretoken: '{{csrf_token}}'
            },
            success: response => convertWatchButton(button),
            error: error => console.log('ERROR')
        })
    }

    const convertWatchButton = function(button){
        console.log('WATCHED!!!')
        button.html('Watched')
        button.removeClass('btn-primary')
        button.addClass('btn-light')
        button.addClass('disabled')
    }

</script>
<div class="list-group container mt-4 mb-4">
    {% for movie in watch_later_movies %}
    <div class="list-group-item list-group-item-action">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10"><h5>{{ movie.title }}</h5></div>
            {% if user_name %} 
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2"><a id="{{movie.imdbid}}" onclick="watch($('#{{movie.imdbid}}'), '{{movie.imdbid}}')" href="#" class="btn btn-primary btn-block">Watch</a></div>
            {% if movie.is_watched %}
            <script>convertWatchButton($('#{{movie.imdbid}}'))</script>
            {% endif %}

            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
