<nav class="navbar navbar-default navbar-static-top">
    <div class="container container-fluid">
        <div class="navbar-header navbar-brand">
            Lab 6 By {{author}}
        </div>
    </div>
</nav>