<section class="theme-select">
    <div class="container container-fluid">
        <p>Select theme:</p>
        <select id="my-select"></select>
        <button class="apply-button" id="apply">Apply</button>
    </div>
</section>