<nav class="navbar navbar-default navbar-static-bottom">
    <div class="container">
        <div class="navbar-header">
                <p class="navbar-brand">Lab 5 PPW made with sweat and blood of &copy; {{author}}</p>
        </div>
    </div>
</nav>