{% extends "lab_9/layout/login.html" %}
{% block judul %}
<h1> Login menggunakan COOKIES </h1>
<p class="text-danger"> Jangan menggunakan <b> akun SSO asli </b> </p>
<p class="text-danger"> karena Username dan password akan disimpan di dalam cookie </p>
{% endblock %}
{% block login_post_url %} {% url 'lab-9:cookie_auth_login' %} {% endblock %}