{% extends "lab_9/layout/base.html" %}

{% block content %}
<div class="card mt-4">
    <div class="card-header">
        <h4 class="card-title">[Cookie] Profile</h4>
    </div>
    <div class="card-body">
        <p> Username : {{ request.COOKIES.user_login }}  </p>
    <div class="card-buttons">
        <a href="{% url 'lab-9:cookie_clear' %}" class="btn btn-danger pull-right" onclick="return confirm('Keluar?')">
            Reset Cookies (Logout) 
        </a>
        <a href="{% url 'lab-9:profile' %}" class="btn btn-info"> Masuk Halaman Session </a>
    </div>
    </div>
</div>
{% endblock %}

{% block buttons %}
<a href="{% url 'lab-9:cookie_clear' %}" class="btn btn-danger pull-right" onclick="return confirm('Keluar?')">
    Reset Cookies (Logout) 
</a>
{% endblock %}