{% extends "lab_10/layout/base.html" %}

{% block content_authorized %}
<!-- Content Here -->
<section id="data-dashboard">
    <div class="card mt-4">
        <div class="card-header">
            <h4 class="card-title">Dashboard</h4>
        </div>
        <div class="card-body">
            <p> Username : {{ author }} </p>
            <p> NPM : {{kode_identitas}} </p>
            <p> Role : {{ role }} </p>
        <div class="card-buttons">
            <a href="{% url 'lab-10:movie_list' %}" class="btn btn-primary"> Movie List </a>
            <a href="{% url 'lab-10:list_watch_later' %}" class="btn btn-info"> Watch Later List </a>
        </div>
        </div>
    </div>
</section>
{% endblock %}

{% block login_post_url %} {% url 'lab-10:auth_login' 'lab-10:dashboard' %} {% endblock %}

{% block judul_login %}
<h1> Login </h1>
<p class="text-info"> Anda harus login sebelum mengakses halaman dashboard. Gunakan akun SSO. </p>
{% endblock %}