{% extends "lab_9/layout/login.html" %}
{% block judul %}
<h1> Halaman Login </h1>
<p class="text-info"> Gunakan <b> akun SSO </b> untuk login </p>
{% endblock %}

{% block login_post_url %} {% url 'lab-9:auth_login' %} {% endblock %}