{% extends "lab_9/layout/base.html" %}
{% block content %}
<!-- Content Here -->
<div class="pojok-kanan">
</div>
<br>
<div class="card">
    <div class="card-header">
        <h4 class="card-title">[Session] Profile</h4>
    </div>
    <div class="card-body">
        <p> Username : {{ author }} </p>
        <p> NPM : {{kode_identitas}} </p>
        <p> Role : {{ role }} </p>
    <div class="card-buttons">
        <a href="{% url 'lab-9:auth_logout' %}" class="btn btn-danger pull-right" onclick="return confirm('Keluar?')"> Logout </a>
        <a href="{% url 'lab-9:cookie_login' %}" class="btn btn-info"> Masuk Halaman Cookies </a>
    </div>
    </div>
</div>

<div class="mt-5 mb-5">

    <div class="card">
        
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                <li role="presentation" class="nav-item">
                    <a class="nav-link" href="#drones" aria-selected="true" aria-controls="drones" role="tab" data-toggle="tab" id="drone-tab-button"> Drones </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a class="nav-link" href="#soundcard" aria-controls="home" role="soundcard" data-toggle="tab"> Soundcard </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a class="nav-link" href="#optical" aria-controls="home" role="optical" data-toggle="tab"> Optical </a>
                </li>
            </ul>
        </div>

        <div class="card-body">
        <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="drones">
                    {% include 'lab_9/tables/drones.html' %}
                </div>
                <div role="tabpanel" class="tab-pane fade" id="soundcard">
                    {% include 'lab_9/tables/soundcards.html' %}
                </div>
                <div role="tabpanel" class="tab-pane fade" id="optical">
                    {% include 'lab_9/tables/opticals.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(() => {
        $('#drone-tab-button').click();
    });
</script>
{% endblock %}

{% block buttons %}
<a href="{% url 'lab-9:auth_logout' %}" class="btn btn-danger pull-right" onclick="return confirm('Keluar?')"> Logout </a>
{% endblock %}