{% extends "lab_9/layout/table.html" %}

{% block entity_name %}Drones{% endblock %}
{% block table_heading %}<h2> Daftar Drones : {{ drones | length}} </h2>{% endblock %}
{% block reset_url %}{% url 'lab-9:clear_session_item' 'fav_drones' %}{% endblock %}
{% block table_rows %}
{% for drone in drones %}
<tr>
    <td> {{ forloop.counter }}</td>
    <td> {{ drone.name }}</td>
    <td> {{ drone.price }}</td>
    <td> {{ drone.quantity }}</td>
    <td>
        {% if not drone.id in fav_drones %}
        <a href="{% url 'lab-9:add_session_item' 'fav_drones' drone.id %}" class="btn btn-primary"> Favoritkan </a>
        {% else %}
        <a href="{%url 'lab-9:del_session_item' 'fav_drones' drone.id %}" class="btn btn-primary"> Hapus dari favorit </a>
        {% endif %}
    </td>
</tr>
{% endfor %}
{% endblock %}