{% extends "lab_9/layout/table.html" %}

{% block entity_name %}Opticals{% endblock %}
{% block table_heading %}<h2> Daftar Optics : {{ opticals | length}} </h2>{% endblock %}
{% block reset_url %}{% url 'lab-9:clear_session_item' 'fav_opticals' %}{% endblock %}
{% block table_rows %}
{% for optics in opticals %}
<tr>
    <td> {{ forloop.counter }}</td>
    <td> {{ optics.name }}</td>
    <td> {{ optics.price }}</td>
    <td> {{ optics.quantity }}</td>
    <td>
        {% if not optics.id in fav_opticals %}
        <a href="{% url 'lab-9:add_session_item' 'fav_opticals' optics.id %}" class="btn btn-primary"> Favoritkan </a>
        {% else %}
        <a href="{%url 'lab-9:del_session_item' 'fav_opticals' optics.id %}" class="btn btn-primary"> Hapus dari favorit </a>
        {% endif %}
    </td>
</tr>
{% endfor %}
{% endblock %}