{% extends "lab_9/layout/table.html" %}

{% block entity_name %}Sound Cards{% endblock %}
{% block table_heading %}<h2> Daftar Sound Cards : {{ soundcards | length}} </h2>{% endblock %}
{% block reset_url %}{% url 'lab-9:clear_session_item' 'fav_soundcards' %}{% endblock %}
{% block table_rows %}
{% for card in soundcards %}
<tr>
    <td> {{ forloop.counter }}</td>
    <td> {{ card.name }}</td>
    <td> {{ card.price }}</td>
    <td> {{ card.quantity }}</td>
    <td>
        {% if not card.id in fav_soundcards %}
        <a href="{% url 'lab-9:add_session_item' 'fav_soundcards' card.id %}" class="btn btn-primary"> Favoritkan </a>
        {% else %}
        <a href="{%url 'lab-9:del_session_item' 'fav_soundcards' card.id %}" class="btn btn-primary"> Hapus dari favorit </a>
        {% endif %}
    </td>
</tr>
{% endfor %}
{% endblock %}