<p class="text-center hide-first">
    <a class="glyphicon glyphicon-arrow-left btn btn-default prev-page" href="{% url 'lab-7:students-page' page=prev_page%}"></a>
    Halaman {{ page }} dari {{ max_page}} halaman
    <a class="glyphicon glyphicon-arrow-right btn btn-default next-page" href="{% url 'lab-7:students-page' page=next_page %}"></a>
</p>