{% extends "lab_9/layout/base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="rata-tengah">
            <div class="judul">
                {% block judul %}
                {% endblock %}
            </div>
            <form action="{% block login_post_url %} {% endblock %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username"> Your username </label>
                    <input type="text"  class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password"> Your password </label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <input type="submit" class="btn btn-primary" value="Login">
            </form>
        </div>
    </div>
</div>
{% endblock %}
