<div class="panel panel-info">
    <div class="panel-heading">
        <h2> {% block table_heading %} {% endblock %}</h2>
        <a href="{% block reset_url %} {% endblock %}" class="btn btn-danger" onclick="return confirm('Reset data?')">
            Reset Favorite {% block entity_name %} {% endblock %}
        </a>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <th> No</th>
            <th> Nama</th>
            <th> Harga</th>
            <th> Jumlah</th>
            <th> Aksi </th>

            </thead>
            <tbody>
                {% block table_rows %}{% endblock %}
            </tbody>
        </table>
    </div>
</div>
