{% extends "lab_9/layout/base.html" %}
{% block title %} Lab 10 By {{lab_author}} {% endblock %}
{% block title_navbar %} Lab 10 By {{lab_author}} {% endblock %}

{% block buttons %} 
    {% if user_name %}
    <a href="{% url 'lab-10:auth_logout' %}" class="btn btn-danger" onclick="return confirm('Keluar?')">Logout </a>
    {% endif %}
{% endblock %}

{% block navlinks %}
<ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="{% url 'lab-10:dashboard' %}">Dashboard</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'lab-10:movie_list' %}">Movie List</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'lab-10:list_watch_later' %}">Watch Later List</a></li>
</ul>
<div class="mr-auto mt-2 mt-lg-0">
</div>
{% endblock %}

{% block content %}
    {% if user_name %}
        {% block content_authorized %}
        {% endblock %}
    {% else %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="rata-tengah">
                <div class="judul">
                    {% block judul_login %}
                    {% endblock %}
                </div>
                <form action="{% block login_post_url %} {% endblock %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username"> Your username </label>
                        <input type="text"  class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password"> Your password </label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Login">
                </form>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block additional_source %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lab_10.css' %}" />
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
{% endblock %}