{% extends "lab_7/layout/base.html" %}

{% block content %}
<section name="friend-list" id="friend-list">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8">
                <h2> Friend Fasilkom</h2>
                <div id="friend-list" class="list-group">

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script>

    $( document ).ready(function () {
        $.ajax({
            method: "GET",
            url: "{% url 'lab-7:friends' %}",
            success: function (response) {
                response = JSON.parse(response)
                for(var i = 0; i < response.length; i++) {
                    console.log(response[i])
                    const element = $('<span class="list-group-item clearfix" href="' + '/lab-7/friend-detail/' + response[i].npm + '/" >' + 
                            '<a href="' + '/lab-7/friend-detail/' + response[i].npm + '/">' + response[i].name + ' (' + response[i].npm + ')</a>' + 
                            '</span>')
                    $('.list-group').append(element)

                    const delButton = $('<span class="pull-right">' +
                                        '<span class="btn btn-xs btn-danger" id="'+ response[i].npm +'">' +
                                        'Hapus pertemanan' + 
                                        '</span></span>') 
                    delButton.hide()
                    element.append(delButton)
                                        
                    element.mouseenter(function(){
                        delButton.show('fast')
                    })
                                        
                    element.mouseleave(function(){
                        delButton.hide('fast')
                    })

                    const npm = response[i].npm

                    delButton.click(function(){

                        console.log(delButton)

                        $.ajax({
                            method: 'DELETE',
                            url: '/lab-7/friends/npm/' + npm + '/',
                            beforeSend: function(xhr) {
                                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                            },
                            success: function(){
                                element.hide('slow')
                            },
                            error: function(error){
                                console.log(error)
                            }
                        })

                    })

                }
            },
            error: function(error){
                console.log(error)
            }
        });

       
    });


</script>
{% endblock %}
