{% extends "lab_7/layout/base.html" %}

{% block content %}
<section name="friend-detail">
    <div class="container">
        <div class="page-header">
            <h2>{{ friend.name }}</h2>
        </div>
        <div class="col-md-8 col-xs-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 col-xs-4">NPM</div>
                    <div class="col-md-7 col-xs-8">{{ friend.npm }}</div>
                </div>
                {% if friend.address %}
                <div class="row">
                    <div class="col-md-5 col-xs-4">Jurusan</div>
                    <div class="col-md-7 col-xs-8">{{ friend.major }}</div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-xs-4">Alamat</div>
                    <div class="col-md-7 col-xs-8">{{ friend.address }}</div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-xs-4">Tempat, tanggal lahir</div>
                    <div class="col-md-7 col-xs-8">{{ friend.city }}, {{ friend.birth_date }}</div>
                </div>
                
                {% endif %}
            </div>
            <br />
        </div>
        <div class="col-md-4 col-xs-12">
            <div id="map"></div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlrXmjMGK7g6BmgsM2Yo-WYG_5v8viNc4&callback=initMap"> </script>
<script>

    var address = 'Fakultas Ilmu Komputer Universitas Indonesia'

    {% if friend.address %}
    address = '{{ friend.address }}'
    {% endif%}

    function initMap() {
        console.log('address: ' + address)
        $.ajax({
            method: 'GET',
            url: 'https://maps.googleapis.com/maps/api/geocode/json',
            data: {
                address: address,
                key: 'AIzaSyBlrXmjMGK7g6BmgsM2Yo-WYG_5v8viNc4'
            },
            success: function(response){
                console.log(response)
                const loc = {
                    lat: parseInt(response.results[0].geometry.location.lat), 
                    lng: parseInt(response.results[0].geometry.location.lng)
                };
                console.log(loc)
                const map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 7,
                    center: loc
                });
                const marker = new google.maps.Marker({
                    position: loc,
                    map: map
                });
            },
            error: function(error){

            }
        })

    }
</script>

{% endblock %}