{% extends "lab_7/layout/base.html" %}
{% block content %}
<section name="mahasiswa-list" id="mahasiswa-list">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8">
                <h2> Mahasiswa Fasilkom</h2>
                {% include "lab_7/partials/pagination.html" %}
                <div class="list-group hide-first">
                    {% if mahasiswa_list %}
                        {% for mahasiswa in mahasiswa_list %}
                            <a class="list-group-item clearfix">
                                {{ mahasiswa.nama }} ({{ mahasiswa.npm }})
                                <span class="pull-right">
                                    {% if mahasiswa.npm not in npm_list %}
                                    <span class="btn btn-xs btn-default" id="student-{{ mahasiswa.npm }}" onClick="addFriendButton(this.id, '{{ mahasiswa.nama }}', '{{ mahasiswa.npm }}')">
                                            Tambah sebagai teman
                                    </span>
                                    {% else %}
                                    <span class="btn btn-xs btn-info disabled">
                                            Teman
                                    </span>
                                    {% endif %}
                                </span>
                            </a>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-danger text-center">
                            <strong>Opps!</strong> Tidak ada mahasiswa
                        </div>
                    {% endif %}
                </div>
                {% include "lab_7/partials/pagination.html" %}
            </div>
            <div class="col-md-8 col-lg-4">
                <h2> Teman Saya </h2>
                <div class="list-group" id="friend-list">
                    {% if friend_list %}
                        {% for friend in friend_list %}
                            <a class="list-group-item clearfix">
                                {{ friend.name }} ({{ friend.npm }})
                            </a>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-danger text-center " id="nofriend">
                            <strong>Opps!</strong> Tidak ada teman
                        </div>
                    {% endif %}
                </div>
                <div class="lab-form form-group">
                    <label for="field_npm">NPM</label>
                    <input id="field_npm" type="text" name="npm" class="form-control"/>
                    <label for="field_name">Nama</label>
                    <input id="field_name" type="text" name="name" class="form-control"/>
                    <button type="button" class="btn" id="add-friend">Tambah</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script>

    const page = '{{page}}'
    var timeOut;

    const addFriendButton = function(buttonId, nama, npm){
        const addButton = $('#' + buttonId)
        addButton.hide('normal')
        const container = addButton.parent()
        const friendButton = $('<span class="btn btn-xs btn-info disabled"> Teman </span>')
        friendButton.hide()
        container.append(friendButton)
        friendButton.show('slow')
        addFriend(nama, npm)
    };

    const addFriend = function(nama, npm) {
        $.ajax({
            method: "POST",
            url: '{% url "lab-7:friends" %}',
            data: { 
                name: nama, 
                npm: npm,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success : function (friend) {
                console.log(friend)
                const html = '<a class="list-group-item clearfix">' +
                    nama + '(' + npm +')' +
                    '</a>';
                const newItem = $(html)
                console.log(html)
                $("#friend-list").append(newItem)
                newItem.hide()
                newItem.show('slow')
                $("#field_name").val('')
                $("#field_npm").val('')
                $('#nofriend').hide('fast')
            },
            error : function (error) {
                console.log(error)
                alert("Mahasiswa tersebut sudah ditambahkan sebagai teman")
            }
        });
    };

    const alreadyFriend = function(){

    }

    $("#add-friend").click(function () {
       name = $("#field_name").val()
       npm = $("#field_npm").val()
       console.log(name)
       console.log(npm)
        addFriend(name, npm)
    });

    $(".next-page").click(function(){
        collapse()
    })

    $(".prev-page").click(function(){
        collapse()
    })

    const collapse = function(){
        $('.hide-first').hide('slow')
        scrollToTop()
    };

    $("#field_npm").change(function () {
        console.log( $(this).val() );
        npm = $(this).val();
        $.ajax({
            method: "GET",
            url: '/lab-7/friends/npm/' + npm + '/',
            dataType: 'json',
            success: function (data) {
                console.log(data)
                alert("Mahasiswa dengan npm ini sudah ada")
                $("#field_npm").select()
            }
        });
    });

$(document).ready(function(){
    $('.hide-first').show('normal')
    if (page == 1) $('.prev-page').hide()
    if (page == 68) $('.next-page').hide()
});

function scrollToTop() {
	if (document.body.scrollTop!=0 || document.documentElement.scrollTop!=0){
		window.scrollBy(0,-50);
		timeOut=setTimeout('scrollToTop()',30);
	}
	else clearTimeout(timeOut);
}

</script>
{% endblock %}
