 /* Custom navbar style */
 .navbar-static-top {
    margin-bottom: 19px;
 }
 .navbar-default .navbar-nav>li>a {
    cursor: pointer;
 }
 /* Textarea not resizeable */
 textarea {
    resize:none
 }
 .lab-form > *{
     margin: 10px;
 }
 .hide-first{
     display: none;
 }
 #map {
    width: 100%;
    height: 250px;
    background-color: grey;
  }
@media screen and (max-width: 720px) {
    #map {
        width: 100%;
        height: 300px;
        background-color: grey;
      }
}