body {
    min-height: 100vh; 
}
.rata-tengah {
    text-align: center;
    margin : 20px;
}
.judul {
    text-transform:uppercase;
    margin-bottom: 50px;
    margin-top: 50px;
}
.flex-grow {
    min-height: 100vh;
    flex: 1;
 }